<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		
		<!-- Your partner key provided by Responsr. Keep it secret -->
		<add key="PartnerKey" value="00000000-0000-0000-0000-000000000000"></add>

		<!-- Set to "True" if application should run in debug mode. -->
		<!-- Application can also be run with "applicationname.exe help" for temporary debug -->
		<add key="Debug" value="True"/>

		<!-- Where to log transfers on your server, folder must exist -->
		<add key="LogFolderPath" value="C:\\Logs\\responsr" />
				
	</appSettings>
	<connectionStrings>
		
		<!-- This is a mock connectionstring for the sample code for fetching data from your system -->
		<add name="Database" connectionString="Data Source=SERVER;Initial Catalog=DATABASE;Persist Security Info=True;User ID=LOGIN;Password=PASSWORD;Application Name=SendToResponsr" />		

	</connectionStrings>
</configuration>